site_name: Yuniverse

copyright: Copyright &copy; 2023 Yun


nav:
  - Home: index.md
  - Author: about.md
  - Posts:
    - About Tech Basics:
      - Set up a blog in minutes: set_up_blog.md
      - Python basics: concepts.md
      - Use Python to generate docs based on templates: template-based-doc-generation.md
      - Vector Databases vs. Graph Databases: vectordb-vs-graphdb.md
    - About Writing:
      - Why Docs as Code Should be Part of Dev Cycle: docs-as-code.md
      - Screenshots or not, for tech docs: screenshots_tech_docs.md
      - Types of Docs: types-of-docs.md

  - Learn:
      - Introduction to Machine Learning:
        - How Models Work: introduction-to-ml/how-models-work.md
        - Basic Data Exploration: introduction-to-ml/basic-data-exploration.md
        - Your First ML Model: introduction-to-ml/your-first-ml-model.md
        - Model Validation: introduction-to-ml/model-validation.md
        - Underfitting and Overfitting: introduction-to-ml/underfitting-and-overfitting.md
        - Random Forest: introduction-to-ml/random-forest.md
      - Intermediate Machine Learning:
        - Missing Values: intermediate-ml/missing-values.md
        - Categorical Variables: intermediate-ml/categorical-variables.md
        - Pipelines: intermediate-ml/pipelines.md
        - XGBoost: intermediate-ml/xgboost.md
        - Data Leakage: intermediate-ml/data-leakage.md
      - Technical Basics:
        - Introduction to DITA: intro-dita.md
        - Linux Basics: linux-basics.md
  - Code Lab:
    - Introduction to Machine Learning:
      - Model Build: code-lab/introduction-to-ml/model-build-exercise.ipynb
      - Your First ML Model: code-lab/introduction-to-ml/your-first-ml-model.ipynb
      - Model Validation: code-lab/introduction-to-ml/model-validation.ipynb
      - Overfitting and Underfitting: code-lab/introduction-to-ml/overfitting-and-underfitting.ipynb
      - Random Forest: code-lab/introduction-to-ml/random-forest.ipynb
    - Intermediate Machine Learning:
      - Missing Values: code-lab/intermediate-ml/missing-values.ipynb
  - Ramblings:
    - Year in review: year_review_2022.md

theme:
  name: material
  palette: 

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Robot
    code: Robot Mono
  features:
    - navigation.tracking
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - toc.follow
    - navigation.top
    # - header.autohide
    - navigation.footer

markdown_extensions:
  - attr_list
  - def_list
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: true
      linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - def_list
  - footnotes
  - toc:
      permalink: true
  - pymdownx.tasklist:
      custom_checkbox: true

icon:
    logo: material/library

extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/feiliqi?s=21&t=qdM86tXp56g5rYSc0RGlxw
    - icon: fontawesome/brands/github
      link: https://github.com/liyun95
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/yun-li-9b8357158/
  # Language selector.
  alternate:
   - name: 中文
    #  link: https://docs.nebula-graph.com.cn/
     lang: zh

plugins:
  - mkdocs-jupyter
    # execute: true
#   - with-pdf